


  @*start body *@
  <center>
      <div class="mt-3 p-5 bg-primary text-white rounded">
            <h1> welcome to home page </h1>  
            <p>Group2</p>
        </div>
  </center>
  @*end body *@
