
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>aboutUs</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @*Start header*@
    <nav class="mt-5">
        <center>

         @*    <a class="btn btn-primary" href="/Home/Index">Home</a> *@
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
            <a class="btn btn-secondary" asp-controller="Home" asp-action="aboutUs" >aboutUs</a>
            <a class="btn btn-success" asp-controller="Home" asp-action="Privacy"> Privacy</a>
            <a class="btn btn-warning" asp-controller="Home" asp-action="ContactUs"> ContactUs</a>
            <a class="btn btn-danger" asp-controller="Account" asp-action="login" >login</a>
            <a class="btn btn-info" asp-controller="Account" asp-action="Register">Register</a>

        </center>
    </nav>
    @*end header *@


    <div>
        @RenderBody()
    </div>
    @*start footer*@
    <footer class="mt-5">
        <center>
            <div>
                <p>
                    copyrights &copy; route @DateTime.Now.Year
                </p>
            </div>
        </center>
    </footer>
    @*End footer *@
</body>
</html>
